{{#if this.vcShown}}
  <div class="table-wrapper dark">
    <VerticalCollection @items={{this.model}}
      @estimateHeight={{50}}
      @bufferSize={{5}}
      as |item index|>
      <NumberSlide @item={{item}} @itemIndex={{index}} @prefixed={{this.prefixed}} />
    </VerticalCollection>
  </div>
{{/if}}

<button id="hide-vc-button" {{action "hideVC"}}>Hide VC</button>
<button id="show-vc-button" {{action "showVC"}}>Show VC</button>
<button id="partial-update-button" {{action "partialUpdate"}}>Partial Update</button>
<button id="update-items-button" {{action "updateItems"}}>Update items</button>
<button id="show-prefixed-button" {{action "showPrefixed"}}>Show prefixed</button>
