{{#if this.vcShown}}
  <div class="table-wrapper dark">
    <VerticalCollection
      @key="id"
      @items={{this.items}}
      @estimateHeight={{50}}
      @bufferSize={{5}}
      @firstVisibleChanged={{action "firstVisibleChanged"}}
      as |item index|
    >
      <NumberSlide @item={{item}} @itemIndex={{index}} @prefixed={{this.prefixed}} />
    </VerticalCollection>
  </div>
{{/if}}

<input id="first-visible-id" type="hidden" value={{this.firstVisibleId}}/>

<button id="hide-vc-button" {{action "hideVC"}}>Hide VC</button>
<button id="show-vc-button" {{action "showVC"}}>Show VC</button>
<button id="partial-update-button" {{action "showLast" 5}}>Show Last 5</button>
<button id="last-25-button" {{action "showLast" 25}}>Show Last 25</button>
<button id="show-all" {{action "showAll"}}>Show All</button>
<button id="update-items-button" {{action "updateItems"}}>Update items</button>
<button id="show-prefixed-button" {{action "showPrefixed"}}>Show prefixed (computed)</button>
