{{!--
{{#each items key='@index' as |item index|}}
  {{#vertical-item
    tagName=itemTagName
    classNames=itemClassNames
    defaultHeight=_defaultHeight
    alwaysRemeasure=alwaysRemeasure
    content=item
    index=index
    register=(action register)
    unregister=(action unregister)
  }}
    {{yield item index}}
  {{/vertical-item}}
{{else}}
  {{yield to="inverse"}}
{{/each}}
--}}
{{#each activeItems key='id' as |virtualComponent|}}
  {{{virtualComponent.upperBound}}}
    <div style="height: 20px; background: #555; color: #fff; padding: 4px; font-size: 12px; text-align: center;">{{virtualComponent.id}}</div>
    {{yield virtualComponent.content virtualComponent.index}}
  {{{virtualComponent.lowerBound}}}
{{else}}
  {{yield to="inverse"}}
{{/each}}