<div class="virtual-component-renderer">
  {{#each _virtualComponents key="id" as |virtualComponent|}}
    {{{unbound virtualComponent.upperBound}}}
      {{yield virtualComponent.content virtualComponent.index}}
    {{{unbound virtualComponent.lowerBound}}}
  {{/each}}
</div>
<div class="virtual-component-attacher">

</div>
{{{unbound bounds.expressedUpperBound}}}
{{{unbound bounds.expressedLowerBound}}}
{{#if bounds.isEmpty}}
  {{yield to="inverse"}}
{{/if}}
